$color-sedans: hsl(31, 77%, 52%);
$color-suvs: hsl(184, 100%, 22%);
$color-luxury: hsl(179, 100%, 13%);

$color-paragraphs: hsla(0, 0%, 100%, 0.75);
$color-buttons: hsl(0, 0%, 95%);

* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.button {
  width: 9em;
  min-height: 3rem;
  border-radius: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  transition: all 0.3s;
}

@mixin button-hover {
  .button:hover {
    background-color: transparent;
    color: $color-paragraphs;
    box-sizing: border-box;
    border: 0.2rem solid $color-paragraphs;
    transform: scale(1.1);
  }
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;

  main {
    margin: auto;
    display: flex;
    min-height: 60vh;
    // max-height: 80vh;
    max-height: 32rem;
    min-width: 225px;
    max-width: 100vw;
    // margin: 2rem;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: $color-paragraphs;

    .container {
      padding: 3rem;
      max-width: 14rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;

      img {
        width: fit-content;
        height: 3rem;
      }

      span {
        font-family: 'Big Shoulders Display', cursive;
        font-weight: 700;
        font-size: 30px;
      }

      p {
        line-height: 1.7rem;
      }
    }
    .sedans {
      background-color: $color-sedans;

      .button {
        background-color: $color-buttons;
        color: $color-sedans;
      }
    }
    .suvs {
      background-color: $color-suvs;

      .button {
        background-color: $color-buttons;
        color: $color-suvs;
      }
    }
    .luxury {
      background-color: $color-luxury;

      .button {
        background-color: $color-buttons;
        color: $color-luxury;
      }
    }

    > :first-child {
      border-radius: 0.7rem 0 0 0.7rem;
    }

    > :last-child {
      border-radius: 0 0.7rem 0.7rem 0;
    }

    @include button-hover();

    @media all and (max-width: 420px) and (max-device-width: 420px) {
      flex-direction: column;
      margin-top: 0;

      .container {
        max-width: none;
        border-radius: 0;
      }
    }
  }
}
